.container {
  max-width: 980px;
  margin: auto;
}

.app {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  width: 72px;
  height: 72px;
  background-color: #ddd;
  border-radius: 4px;
  padding: 15px;
  margin-top: 0.75em;
  margin-right: 0.75em;
}